# Environment variables
.env

# Virtual environment
venv/
.venv/ # Another common name for venv directory

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / OS specific
.vscode/
.idea/
*.DS_Store